* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.bytesized-regular {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tektur-uniquifier {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
:root{
    --primary-color:#442D7C;
    --second-color:#6341B4;
    --tertiary-color:#F85ACA;
    --fourth-color:#DAFA8B;
    --neutra-color:#fff;
    --second-neutral-color: #000;
    --transition: 0.4s;;
}

html{
    font-size: 62,5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
}

/* ------------------------------------------------- */
nav{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;

}

nav li{
    list-style: none;
    display: inline-block;
}

nav a{
    color: var(--neutra-color);
    display: block;
    padding: 1rem;
    font-size: 15px;
    text-decoration: none;
    font-family: "Tektur", sans-serif;
}

nav a:hover{
    background-color: var(--second-color);
    color: var(--tertiary-color);
    transition:0.2s;
}

#hero{
    transition: 2s;
}

/* -------------------------------------- */
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, .3), rgba(18, 4, 30, 0.9)),
    url(../img/jogo-hero.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;    
}

.hero-cont{
    padding: 17rem 3rem;
    align-items: center;
}

.hero-cont h2{
    color: var(--tertiary-color);
    transition:var(--transition);
    font-family: "Tektur", sans-serif;
}

.hero-cont p{
    color: var(--neutra-color);
    font-weight: 900;
    transition: var(--transition);
    margin-bottom: 1.5rem;
    font-family: "Tektur", sans-serif;
}

.hero-cont a{
    color: #fff;
    font-family: "Bytesized", sans-serif;
}

.bnt{
    background-color: var(--second-color);
    border-radius: 18px;
    border: 2px solid var(--second-color);
    border-color: var(--second-color);
    padding: 4px;
    text-decoration: none;
    transition:var(--transition);
    margin-bottom: 2rem;
    font-size: 2vw;
    font-family: "Bytesized", sans-serif

}

.bnt:hover{
    background-color: transparent;
    color: var(--second-color);
}

/* -------------------------------------- */
.about{
    width: 100%;
    height: 100vh;
    background-color: var(--second-neutral-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-about1{
    background-color: var(--fourth-color);
    width: 30%;
    height: 70vh;
}

.text-about{
    padding: 2vw 2vw;
    overflow: hidden;
}
.p{
    font-size: 1.7vw;
    margin-top: 1vw;
    font-family: "Tektur", sans-serif;

}
.h2{
    font-size: 3vw;
    font-family: "Tektur", sans-serif;
}

.cont-about2{
    width: 30%;
    height: 70vh;
    background-image: url(../img/about-img.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont-about3{
    background-color: var(--fourth-color);
    width: 30%;
    height: 70vh;
}
/* ---------------------------------------------- */

.title-game{
    text-align: center;
    margin-top: 4rem;
    color: var(--second-neutral-color);
    font-size: 4vw;
    font-family: "Tektur", sans-serif;
}
.subtitle-game{
    text-align: center;
    font-size: 2vw;
    font-family: "Tektur", sans-serif;
}
.cont-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card-itens{
    width: 25%;
    height: 48vw;
    margin:3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: 1px 1px 30px #ccc;
    border-radius: 5px;
    transition: var(--transition);    
}


.card-itens:hover{
    transform: scale(1.1);
}

.card-itens img{
    width: 90%;
    border-radius: 5px;
}

.h3card{
    margin: 2rem 0;
    font-weight: 800;
    font-size: 3vw;
    font-family: "Bytesized", sans-serif

}
.card-itens a{
    color: var(--neutra-color);
    font-family: "Bytesized", sans-serif

}

.pcard{
    margin: 0 0 3rem;
    font-size: 2vw;
    width: 90%;
    word-wrap: break-word;
    font-family: "Tektur", sans-serif;
}
/* ------------------------------------------------- */
.cont-acessibilidade{
    width: 100%;
    height: 80vh;
    background-image: url(../img/acessibilidade.jpg);
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.acessibilidade{
    margin: 5vw;
    width: 30%;
}

.acessibilidade h2{
    color: var(--primary-color);
    transition:var(--transition);
    font-family: "Tektur", sans-serif;
}

.acessibilidade p{
    color: var(--neutra-color);
    font-weight: 900;
    transition: var(--transition);
    margin-bottom: 1rem;
    font-family: "Tektur", sans-serif;
}

.acessibilidade a{
    color: #fff;
    font-family: "Bytesized", sans-serif
}

.cont-game{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-color: var(--neutra-color);
}

.cont-cards{
    width: 26%;
    margin: 3rem 0;;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: 1px 1px 30px #ccc;
    border-radius: 5px;
    transition: var(--transition);
    background-color: var(--neutra-color);
}

.title-games{
    text-align: center;
    margin-top: 4rem;
    color: var(--second-neutral-color);
    font-size: 3vw;
    font-family: "Tektur", sans-serif;
}

.cont-cards img {
    width: 90%;
    border-radius: 5px;
}
.cont-cards h3 {
    margin: 2rem 0;
    font-weight: 800;
    font-family: "Bytesized", sans-serif;
}
.cont-cards p {
    margin: 0 0 3rem;
    text-align: center;
    font-size: 2vw;
}
.cont-cards a {
    color: var(--neutra-color);
}
.cont-cards:hover{
    transform: scale(1.1);
}
/* ---------------------------------------- */
.bnt2{
    background-color: var(--tertiary-color);
    border-radius: 18px;
    border: 2px solid var(--tertiary-color);
    border-color: var(--tertiary-color);
    padding: 4px;
    text-decoration: none;
    transition:var(--transition);
    margin-bottom: 2rem;
    font-size: 2vw;
}

.bnt2:hover{
    background-color: transparent;
    color: var(--tertiary-color);
}
/* ------------------------------------- */

.rodape{
    width: 100%;
    height: 3vw;
    background-color: var(--primary-color);

}
.text-rodape{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.text-rodape h4{
    font-size: 1vw;
    margin-top: 1.2vw;
    align-items: center;
    color: #fff;
}
/* ----------------------------------------------------- */

.hero2{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, .3), rgba(18, 4, 30, 0.9)),
    url(../img/hero-2.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;  
    transition: 2s;
}

.hero-cont2{
    padding: 17rem 3rem;
    align-items: center;
}

.hero-cont2 h2{
    color: var(--tertiary-color);
    transition:var(--transition);
    font-family: "Tektur", sans-serif;

}

.hero-cont2 p{
    color: var(--neutra-color);
    font-weight: 900;
    transition: var(--transition);
    margin-bottom: 1.5rem;
    width: 40vw;
    font-family: "Tektur", sans-serif;
}
/* ---------------------------------------------- */
.hero-acessibilidade{
    width: 100%;
    height: 15vw;
    background-color: var(--neutra-color);
    display:flex;
    align-items: center;
    justify-content: center;
}

.conteudo{
    width: 100%;
    height: 100vh;
    background-color: var(--tertiary-color);
    display: flex;
    word-wrap: break-word;

}
.text1{
    height: 80%;
    width: 50%;
    background-color: var(--second-color);
    word-wrap: break-word;
}

.pp{
    font-size: 1.7vw;
    width: 80%;
    word-wrap: break-word;
    margin: 2vw;
    font-family: "Tektur", sans-serif;
    margin-left: 3vw;
}

.h22{
    font-size: 2.2vw;
    width: 80%;
    word-wrap: break-word;
    margin-top: 5vw;
    margin-left: 3vw;
    font-family: "Tektur", sans-serif;
}

.img1{
    height: 80%;
    width: 50%;
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.img2{
    height: 80%;
    width: 70%;
    background-image: url(../img/about-img.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 30px #718d25;

}
/* -------------------------------------------- */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 30px;
    background-color: var(--primary-color); 
    color: white;
    padding: 10px; 
    border-radius: 50%;
    text-align: center;
    text-decoration: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.scroll-to-top:hover {
    background-color: var(--tertiary-color); 
}
/* -------------------------------------------- */

