/* Reset & Font Config */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tektur", sans-serif;


}
* h1 h2 h3 {
    font-family: "Alegreya SC", serif;
}

* p {
    font-family: "Tektur", sans-serif;
}
.bytesized-regular {
    font-family: "Tektur", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tektur-uniquifier {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


/* Variáveis */
:root {
    --primary-color: #442D7C;
    --second-color: #6341B4;
    --tertiary-color: #F85ACA;
    --fourth-color: #DAFA8B;
    --neutra-color: #fff;
    --second-neutral-color: #000;
    --transition: 0.4s;
}

/* Base */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

/* Foco visível (acessibilidade) */
a:focus, button:focus {
    outline: 3px dashed var(--fourth-color);
    outline-offset: 4px;
}

/* Header */
.header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    margin-right: 1vw;
}

.contact{
    margin:0;
}

.header ul {
    list-style: none;
    display: flex;
}

.header a {
    color: var(--neutra-color);
    display: block;
    padding: 1rem;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-decoration: none;
}

.header a:hover {
    background-color: var(--second-color);
    color: var(--tertiary-color);
    transition: 0.2s;
}

/* Formulário */
.forms {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 450px;
    margin-bottom: 10vw;
}

.forms h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: #333;
}

input,
textarea {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

textarea {
    resize: none;
    min-height: 100px;

}

input[required],
textarea[required] {
    border-left: 4px solid var(--tertiary-color);
}

button {
    padding: 1rem;
    background: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--neutra-color);
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover,
button:focus {
    background: linear-gradient(to right, #efa9db, #F85ACA);
}


/* Hero */
#hero {
    transition: 2s;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, .3), rgba(18, 4, 30, 0.9)), url(../img/banner-sobre.png);
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s;
    display: flex;

}

.hero-content {
    align-content: center;
    margin-left: 2vw;
}

.hero-content h1, .hero-cont2 h1 {
    color: var(--tertiary-color);
    transition: var(--transition);
    font-size: clamp(3rem, 4vw, 5rem);
    font-weight: 800;
}

.hero-content h2, .hero-cont2 h2 {
    color: var(--neutra-color);
    font-weight: 650;
    transition: var(--transition);
    margin-bottom: 2vw;
    font-size: clamp(2rem, 3vw, 4rem);
}

.hero-content a {
    color: #fff;
}

.bnt, .bnt-rosa {
    background-color: var(--second-color);
    border-radius: 18px;
    border: 2px solid var(--second-color);
    padding: 4px;
    text-decoration: none;
    transition: var(--transition);
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 500;
    color: #fff;
}

.bnt-rosa {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.bnt:hover, .bnt-rosa:hover {
    background-color: transparent;
    color: var(--second-color);
}

.bnt-rosa:hover {
    color: var(--tertiary-color);
}

/* About */
.about {
    width: 100%;
    min-height: 80vh;
    background-color:#180d32; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about1, .content-about2 {
    width: 30%;
    max-height: 70vh;
}

.content-about1 {
    background-color: var(--fourth-color);
}

.content-about2 {
    background-color: var(--tertiary-color);
}

.text-about {
    padding: 2vw;
    overflow: hidden;
}
.text-about p {
    font-size: 1.2vw;
}

/* Games Destaques */
.title-game {
    text-align: center;
    margin-top: 5vw;
    color: var(--second-neutral-color);
    font-size: 4vw;
}
/* Games */
.title-game2 {
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    color: var(--second-neutral-color);
    font-size: 4vw;
    font-family: "Tektur", sans-serif;
}

.subtitle-game {
    margin-bottom: 5vw;
    text-align: center;
    font-size: 2vw;
}

.content-card-games-destaques, .content-card-games {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    margin-bottom: 5vw;
}

.card-itens{
    width: 25%;
    min-height: 30vw;
    margin-bottom: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
    box-shadow: 1px 1px 30px #ccc;
    border-radius: 5px;
    transition: var(--transition);
}

.card-itens:hover, .card-itens2:hover {
    transform: scale(1.1);
}

.card-itens img, .card-itens2 img {
    width: 85%;
    border-radius: 5px;
}

.card-itens h3 {
    margin-top: 1vw;
    font-weight: 800;
    font-size: 3vw;
    font-family: "Tektur", sans-serif;
}
.card-itens p {
    font-size: 2vw;
    font-family: "Tektur", sans-serif;
}



/* Acessibilidade */
.content-acessibilidade {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(4, 9, 30, .3), rgba(9, 2, 16, 0.9)), url(../img/acessibilidade-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.acessibilidade {
    align-content: center;
    margin-left: 2vw;
}

.acessibilidade h1 {
    color: var(--tertiary-color);
    transition: var(--transition);
    font-size: clamp(3rem, 4vw, 5rem);
    font-weight: 700;
}

.acessibilidade h2 {
    color: var(--neutra-color);
    font-weight: 500;
    transition: var(--transition);
    margin-bottom: 2vw;
    font-size: clamp(2rem, 3vw, 4rem);
}

/* game */

.card-itens2{
    margin-bottom: 1vw;
    width: 25%;
    min-height: 35vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
    box-shadow: 1px 1px 30px #ccc;
    border-radius: 5px;
    transition: var(--transition);
}

.card-itens2 h3{
    margin-top: 1vw;
    font-weight: 800;
    font-size: 3vw;
    font-family: "Tektur", sans-serif;
}
.card-itens2 p{
    font-size: 2vw;
    font-family: "Tektur", sans-serif;
}

/* Footer */
.rodape {
    width: 100%;
    height: 3vw;
    background-color: var(--primary-color);
}

.text-rodape {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.text-rodape h4 {
    font-size: 1vw;
    margin-top: 1.2vw;
    color: #fff;
}

/* Botão voltar ao topo */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 30px;
    background-color: var(--primary-color); 
    color: white;
    padding: 10px; 
    border-radius: 50%;
    text-align: center;
    text-decoration: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: var(--tertiary-color); 
}

/* Página Acessibilidade */
.hero2 {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, .3), rgba(18, 4, 30, 0.9)), url(../img/banner2.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s;
    display: flex;

}

.hero2-content {
    align-content: center;
    margin-left: 2vw;
}

.hero2-content h1, .hero2-cont2 h1 {
    color: var(--tertiary-color);
    transition: var(--transition);
    font-size: clamp(3rem, 4vw, 5rem);
    font-weight: 800;
}

.hero2-content h2, .hero2-cont2 h2 {
    color: var(--neutra-color);
    font-weight: 650;
    transition: var(--transition);
    margin-bottom: 2vw;
    font-size: clamp(2rem, 3vw, 4rem);
}

.hero-content a {
    color: #fff;
}
.conteudo {
    display: flex;
}

.content-texto, .content-img {
    height: 50vw;
    width: 50%;
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.content-texto h1{
    font-size: 3vw;
    margin: 1vw;
}
.content-texto p{
    text-align: center;
    font-size: 1.4vw;
    margin: 2vw;
}

.img {
    height: 60%;
    width: 70%;
    background: url(../img/folclore.png) center/cover no-repeat;
    border-radius: 20px;
    box-shadow: 1px 1px 30px #718d25;
}

.conteudo-text {
    height: 80%;
    width: 50%;
    background-color: var(--second-color);
    word-wrap: break-word;
}

.div-rosa {
    width: 100%;
    height: 10vw;
    background-color: var(--tertiary-color);
}
